 body {
    background-color: blueviolet;
}

.box{
    border:solid;
    position: fixed;
    align-items: center;
}

 .message {
    border: solid;
    border-color: aqua;
    margin:40px;
    padding: 40px;
    justify-content:center;
    position: fixed;
  
 }