 body {
    background-color: blueviolet;
}

.box{
    border:solid;
    position: fixed;
    align-items: center;
}

 .message {
    border: solid;
    border-color: aqua;
    margin:40px;
    padding: 40px;
    justify-content:center;
    display: flex;
  
 }

 .title{
    justify-content: center;
    display: flex;
    color: aquamarine;
 }

 div{
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: aquamarine;
    margin:50px;
    padding: 60px;
    
 }